/* .card-data-ui-container{
    display: flex;
} */
.card_items{
    display: flex;
    flex-direction: column;

}
.card_container{
    width: 300px;
    padding: 16px;
    background-color: #dfe0e0;
    margin: 10px;
    text-align: center;
    border-radius: 5px;


}
.item_name{
    color: #909294;

}
.item_value{
    font-weight: bold;
}