.App {
  /* background-color: #282c34; */
  min-height: 100vh;
  margin: 0;
}
BarChart{
  border: 2px solid blue;
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.App-header {
  color: white;
}
.App-header {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  height: 10vh;
}